<div class="side-nav-1 well" >
  <div class="container-fluid">
      <div class="Actions" style="text-align:center;background: white; padding: 12px; margin: 12px">
         <h4>Action Items</h4>       
      
      </div>
         <br>
        <div class="military " style="text-align:center;background: white; padding: 12px; margin: 12px">
            <a routerLink="/military" routerLinkActive="active" style="color:black;font: bold">
              Military Training
          </a> 
          
        </div>
        <br>
        <div class="acadamic" style="text-align:center;background: white; padding: 12px; margin: 12px">
            <a routerLink="/action" routerLinkActive="active" style="color:black;font: bold">
            Acadamic Training
          </a> 
   
        </div>
        <br>
        <div class="poletics" style="text-align:center;background: white; padding: 12px; margin: 12px">
            <a routerLink="/action" routerLinkActive="active" style="color:black;font: bold">
            Poletics
          </a> 
     
        </div>
        <br>
        <div class="sports" style="text-align:center;background: white; padding: 12px; margin: 12px">
            <a routerLink="/action" routerLinkActive="active" style="color:black;font: bold">
            Sports
          </a> 
    
        </div>
        <br>
        <div class="food" style="text-align:center;background: white; padding: 12px; margin: 12px">
            <a routerLink="/action" routerLinkActive="active" style="color:black;font: bold">
              Food Preparation
          </a> 
    
        </div>
      
        <br>
        <div class="cleaning" style="text-align:center;background: white; padding: 12px; margin: 12px">
            <a routerLink="/action" routerLinkActive="active" style="color:black;font: bold">
              Cleaning
          </a> 
    
        </div>
      
        <br>
        <div class="guezo" style="text-align:center;background: white; padding: 12px; margin: 12px">
            <a routerLink="/action" routerLinkActive="active" style="color:black;font: bold">
            Guezo
          </a> 
    
        </div>
      
  </div>

</div>

